@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
}

.wrapper {
	padding-top: 10px;
}

.header {
	height: 360px;
	width: 100%;
	background: url('../images/city.svg') repeat-x 40% top;
	position: absolute;
	background-size: contain;
	text-align: center;
	opacity: 0.8;

	img {
		margin: auto;

		width: 300px;
		height: 90px;
	}

}

.header__vacancy {
	position: relative;
	width: 50%;
	height: 210px;
	margin: auto;
	font-family: RobotoBold;
	color: #3e3e3e;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 80px;

	&-logo {

	}

	&-name {
		font-size: 3vw;
		margin-bottom: 10px;
	}

	&-skills {
		font-size: 2vw;
		margin-bottom: 20px;
	}

	&-department {
		font-family: RobotoRegular;
		font-size: 2vw;
	}

}

.content {
	width: 60%;
	margin: auto;
	padding-top: 40px;
}

.content__vacancy-description {
	font-family: RobotoRegular;
	color: #3e3e3e;
	font-size: 1.4em;
	&_paragraph {
		margin-bottom: 20px;
	}
}

.content__vacancy-requirement {
	margin-top: 10px;
	width: 100%;
	text-align: center;

	&_nav {
		font-family: RobotoLight;
		font-size: 1.6em;
		margin-top: 10px;
		height: 50px;
		display: inline-block;
	}

	&_nav-tab {
		border-width: 1px;
		border-style: solid;
		text-align: center;
		float: left;
		height: 50px;
		width: 200px;
		padding-top: 15px;
		border-color: #2F8AC5;
		background-color: #fff;
		color: #2F8AC5;
	}
	&_nav-tab.left-tab {
		border-radius: 5px 0 0 5px;
	}
	&_nav-tab.right-tab {
		border-radius: 0 5px 5px 0;
	}
	.active-tab {
		border-color: #2F8AC5;
		background-color: #2F8AC5;
		color: #fff;
	}

	&-list.active-list {
		display: block;
		& ul {
			padding-top: 30px;
			list-style-type: disc;
			color: #2F8AC5;
			padding-left: 20px;
			font-size: 1.3em;
			& li {
				margin-bottom: 5px;
				padding-left: 15px;
				text-align: left;
				span {
					color: #3e3e3e;

					line-height: 1.7em;
				}
			}
		}

	}
	&-list {
		display: none;
	}
}

.content__vacancy-form {
	width: 100%;
	height: 615px;
	margin-bottom: 30px;
	background-color: #f0f1f1;
	text-align: center;
	color: #3e3e3e;

	&-hello {
		font-family: RobotoBold;
		font-size: 2.5em;

		display: block;
		padding-top: 40px;
		padding-left: 37px;
		text-align: left;
		width: 85%;
	}
	input {
		width: 85%;
		height: 60px;
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		border-color: #e3e3e3;
		font-family: RobotoLight;
		font-size: 1.3em;
		margin: 15px 0;
		padding-left: 30px;

		&:focus {
			border-color: #2F8AC5;
			outline: none;
		}
	}

	#error-text {
		text-align: left;
		width: 90%;
		margin: auto;
		color: #f55159;
	}
	#error {
		font-family: RobotoLight;
		font-size: 1.3em;

	}

	&-comment {
		width: 90%;
		margin: auto;
		display: block;
		text-align: right;
		font-family: RobotoLight;
		font-size: 1.3em;

	}
	&-send {
		border-width: 1px;
		border-style: solid;
		border-radius: 5px;
		border-color: #2F8AC5;
		background-color: #2F8AC5;
		color: #fff;
		text-align: center;
		float: left;
		height: 50px;
		width: 180px;
		font-family: RobotoLight;
		font-size: 1.4em;
		margin-left: 30px;
		outline: none;
		margin-top: 10px;

	}

	.empty {
		border-color: #f55159;
	}

}

.content__vacancy-form-done {
	display: none;
	width: 100%;
	background-color: #f0f1f1;
	text-align: left;
	color: #3e3e3e;

	.upperText {
		font-family: RobotoBold;
		font-size: 2.5em;

		display: block;
		padding-top: 40px;
		padding-left: 37px;
		text-align: left;
		width: 85%;
	}

	.lowerText {
		font-family: RobotoRegular;
		font-size: 1.4em;

		display: block;
		padding-left: 37px;
		text-align: left;
		width: 85%;
	}
}

.photos {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
	ul {
		width: 9999px;
		list-style: none;
		transition: margin-left 250ms;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			padding: 0;
			margin: -2px;
			.photos_elem {
				display: block;
				width: 100%;
			}
		}
	}

}

.photos-mini {
	text-align: center;
	img {
		width: 10%;
		padding: 5px;
		padding-top: 20px;
		background: rgba(205, 214, 219, 0.3);
		opacity: 0.5;

	}
	.active-mini {
		opacity: 1;
	}

}

.footer {
	height: 200px;
	width: 100%;
	background: url('../images/fon.png');

	position: absolute;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	font-family: RobotoLight;
	padding-top: 30px;
	font-size: 1.5em;
}

@media all and (max-width: 1050px) {
	body {
		background: url('../images/mobile-fon.png');
		background-repeat: repeat-y;
	}
	.wrapper {
		margin: 21px;
		background: #fff;
	}

	.header {
		height: 123px;
		position: relative;
		background-size: contain;
		img {
			width: 150px;
			height: 45px;
		}
	}
	.header__vacancy {
		width: 80%;
		padding-top: 0px;
		padding-bottom: 0px;

		&-name {
			font-size: 2em;
		}

		&-skills {
			font-size: 1.2em;
		}

		&-department {
			font-size: 1.2em;
		}

	}

	.content {
		width: 90%;
		position: relative;
		top: 0px;
		padding-top: 0;
	}

	.content__vacancy-description {

		&_paragraph {
		}
	}

	.content__vacancy-requirement {
		&_nav {
			min-width: 250px;
			font-size: 1.2em;

			&-tab {
				width: 49%;
				height: 35px;
				padding-top: 10px;
			}

		}

		&-list.active-list {
			& ul {
				padding-top: 0px;
				& li {

					span {
					}
				}
			}

		}

		&-list {

			& ul {
				padding-top: 0px;
				& li {
					span {
					}
				}
			}

		}
	}

	.content__vacancy-form {
		background-color: #fff;

		&-hello {
			font-family: RobotoRegular;
			font-size: 1.7em;

			display: block;
			text-align: center;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		input {

			&:focus {
			}
		}

		&-comment {
			font-size: 0.8em;

		}
		&-send {
			margin-left: 0;
			float: inherit;
		}
	}

	#vacancy-form-done-mobile span {
		text-align: center;
		color: #ffffff;
		font-size: 7vw;
		display: block;
	}

	.footer-mobile {
		font-family: RobotoLight;
		font-size: 3vw !important;
		margin-top: 100px;
	}
	.photos, .photos-mini {
		display: none;
	}

	.footer {
		display: none;
	}
}
